# RStudio / R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron

# Quarto build artifacts
_site/
_freeze/
.quarto/

# Jupyter side-files
**/.ipynb_checkpoints/
**/*.quarto_ipynb

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

/.quarto/
